---

---

<section class="About lg:mx-10">
    <h1
        class="max-w-72 text-3xl bg-gradient-to-r from-sky-600 to-teal-500 text-transparent bg-clip-text font-bold lg:text-5xl"
    >
        ABOUT ME
    </h1>
    <h2 class="text-white text-3xl">Software Developer</h2>
    <br />
    <p class="text-xl text-white max-w-4xl">
        Hey there🚀🚀🚀 A Junior developer amante del cafe, y del buen codigo
        actualmente estoy enfocado en el desarrollo backend. En una constante
        busqueda de nuevos retos para mejoarar mis habilidades.
        <br />
        <br />
        no
    </p>
</section>
