---
import Contact from "../Contact.astro";
import PhotoProfile from "../Photo_profile.astro";
import Logos from "../logos.astro";
---

<section
    id="home"
    class="Home lg:grid lg:grid-cols-3 lg:grid-rows-2 lg:mx-10 lg:h-screen lg:place-items-end"
>
    <div class="w-full lg:col-span-2 content-center">
        <h1
            class="animate-[bounce_3s_ease-in-out_infinite] text-3xl lg:mt-8 lg:text-5xl text-tertiary lg:col-span-2 mt-8"
        >
            HI! I'M <a href="#about">
                <span
                    class="bg-gradient-to-r from-sky-600 to-teal-500 bg-clip-text text-transparent font-bold"
                    >JULIAN PIRA
                </span></a
            >
            <!-- Software developer -->
        </h1>
        <h2
            class="animate-[bounce_3s_ease-in-out_infinite] text-3xl lg:text-5xl text-tertiary lg:col-span-2 font-light"
        >
            Software developer
        </h2>

        <p
            class="text-lg lg:text-xl text-tertiary col-span-2 pt-8 lg:w-2/3 lg:row-start-3"
        >
            Let's explore discover <a href="#projects">
                <span
                    class="bg-gradient-to-r from-sky-600 to-teal-500 bg-clip-text text-transparent font-bold"
                    >MY WORK,</span
                ></a
            >
            and if you think I can help you, don't hesitate to <a
                href="#FormContact"
            >
                <span
                    class="bg-gradient-to-r from-sky-600 to-teal-500 bg-clip-text text-transparent font-bold"
                    >CONTACT ME</span
                ></a
            >.
        </p>
    </div>
    <div class="col-start-3 grid pt-8 lg:place-self-end w-full">
        <Contact />
        <ul class="flex flex-row justify-center gap-10 lg:mt-5">
            <li>
                <a
                    href="https://github.com/Julian-Pira18"
                    rel="noreferrer"
                    target="_blank"
                    class="text-gray-700 transition hover:text-gray-700/75"
                >
                    <Logos
                        name_logo="eva:github-fill"
                        name_img="Git Hub"
                        size="text-4xl"
                    />
                </a>
            </li>
            <li>
                <a
                    href="https://www.linkedin.com/in/josejulianpiranaranjo/"
                    rel="noreferrer"
                    target="_blank"
                    class="text-gray-700 transition hover:text-gray-700/75"
                >
                    <Logos
                        name_logo="mdi:linkedin"
                        name_img="Linkedin"
                        size="text-4xl"
                    />
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- <style>
    .Home {
        height: 90vh;
    }
</style> -->
