---
import Card from "../Card.astro";
---

<section>
    <h2
        class="my-10 mb-5 max-w-72 text-3xl bg-gradient-to-r from-sky-600 to-teal-500 text-transparent bg-clip-text font-semibold lg:text-5xl lg:mx-10 lg:mb-0"
    >
        PROJECTS
    </h2>
    <p class="text-tertiary mb-10 m text-xl font-light lg:text-3xl lg:mx-10">
        Building the future one line of code at a time.
    </p>
    <ul class="grid grid-cols-1 gap-6 projects lg:grid-cols-3 lg:mx-10">
        <Card
            imagePath="/src/assets/imgs_projects/PhotoClassify.jpeg"
            title="Photoclassify"
            body="Clasicador de fotos para fotgrafos profesionales"
        />
        <Card
            imagePath="/src/assets/imgs_projects/Maker_Tech.jpg"
            title="Marker tech"
            body="Bot de Telegram integrado con IA"
        />
        <Card
            imagePath="/src/assets/imgs_projects/Unal_Extension.jpeg"
            title="UNAL Extension"
            body="Provedor del programa de Extension de la Universidad Nacional de Colombia"
        />
    </ul>
</section>
