---
import Logos from "../logos.astro";
---

<section
    class="grid grid-cols-1 py-10 sm:py-16 lg:pt-36 lg:grid-cols-4 lg:px-10"
>
    <h2
        class="text-3xl lg:text-5xl self-center bg-gradient-to-r from-sky-600 to-teal-500 bg-clip-text text-transparent font-semibold"
    >
        SKILLS
    </h2>
    <div
        class="mt-8 static grid grid-cols-2 lg:grid-cols-6 gap-10 lg:mt-0 lg:col-span-3"
    >
        <Logos name_logo="devicon:python" name_img="Python" size="text-5xl" />

        <Logos
            name_logo="devicon:go-wordmark"
            name_img="Golang"
            size="text-5xl"
        />

        <Logos
            name_logo="devicon:javascript"
            name_img="Javascript"
            size="text-5xl"
        />

        <Logos name_logo="devicon:astro" name_img="Astro" size="text-5xl" />

        <Logos name_logo="devicon:html5" name_img="HTML" size="text-5xl" />

        <Logos name_logo="devicon:css3" name_img="CSS" size="text-5xl" />

        <Logos name_logo="devicon:mysql" name_img="MySql" size="text-5xl" />

        <Logos
            name_logo="devicon:tailwindcss"
            name_img="Tailwind"
            size="text-5xl"
        />

        <Logos
            name_logo="devicon:postgresql"
            name_img="PostgreSQL"
            size="text-5xl"
        />

        <Logos name_logo="devicon:mongodb" name_img="MongoDB" size="text-5xl" />

        <Logos name_logo="devicon:git" name_img="GIT" size="text-5xl" />

        <Logos
            name_logo="logos:github-octocat"
            name_img="GitHub"
            size="text-5xl"
        />
    </div>
</section>
