---
import Projects from "@/layouts/Projects.astro";
import Image from "astro/components/Image.astro";
import Logos from "@/components/logos.astro";
---

<Projects title="Photoclassify">
    <img src="" alt="" class="w-full h-52" />

    <div class="flex flex-row">
        <Logos
            name_img="Golang"
            name_logo="devicon:go-wordmark"
            size="text-5xl"
        />
        <Logos name_img="Python" name_logo="devicon:python" size="text-5xl" />
    </div>
</Projects>
