---

---

<section class="About mt-14 lg:mx-10">
    <h1
        class="max-w-72 text-3xl bg-gradient-to-r from-sky-600 to-teal-500 text-transparent bg-clip-text font-bold lg:text-5xl"
    >
        ABOUT ME
    </h1>
    <h2 class="text-white text-2xl">Software Developer</h2>
    <br />
    <p class="text-xl text-white">
        Hey there🚀🚀🚀 A Junior developer with focus in backend developer.
        Estoy muy enfas A Junior developer with focus in backend developer.
        <br />
        <br />
        Estoy muy enfasA Junior developer with focus in backend developer. Estoy
        muy enfasA Junior developer with focus in backend developer. Estoy muy enfas
    </p>
</section>
