---

---

<section class="Contact grid grid-cols-5 grid-rows-2 gap-3 mt-4">
    <div
        class="pt-1 flex justify-center border rounded-lg col-span-5 lg:col-span-2"
    >
        <span class="text-xl h-10 text-white">Jpira.dev@gmail.com</span>
    </div>
    <div
        class="rounded-lg bg-secundary row-start-2 lg:row-start-1 lg:col-start-3"
    >
    </div>
    <div
        class="rounded-lg bg-secundary text-center col-span-2 row-start-2 lg:row-start-1 lg:col-start-4 lg:col-span-1"
    >
    </div>
    <div
        class="rounded-lg bg-secundary col-span-2 lg:col-span-4 lg:row-start-2"
    >
    </div>
</section>
