---
import { Icon } from "astro-icon/components";
---

<section
    id="contact"
    class="Contact grid grid-cols-5 grid-rows-2 gap-3 lg:grid-cols-3 lg:grid-rows-2 w-full"
>
    <div
        class="pt-1 flex justify-center border-slate-500 border rounded-lg col-span-5 lg:col-span-2"
    >
        <span class="content-center px-3text-xl h-10 text-tertiary"
            >Jpira.dev@gmail.com</span
        >
    </div>

    <div
        id="copy"
        class="relative group border border-slate-500 rounded-lg bg-transparent flex justify-center items-center hover:bg-blue-50"
    >
        <Icon
            name={"codicon:copy"}
            class={"text-xl lg:text-2xl text-tertiary group-hover:text-black"}
        />
        <span
            id="MessageCopy"
            class="rounded-md px-2 absolute bg-tertiary opacity-0 group-hover:text-black"
            >Copied!</span
        >
    </div>
    <a
        href="#FormContact"
        id="Send"
        class="hover:bg-blue-50 rounded-lg bg-tertiary text-center col-span-2 row-start-2 flex justify-center items-center lg:col-span-1"
    >
        <Icon name={"codicon:send"} class={"text-xl lg:text-2xl"} />
    </a>
    <a
        id="Download"
        target="_blank"
        href="/CV-Jose Julian Pira.pdf"
        class="hover:bg-blue-50 hover:text-black rounded-lg bg-tertiary col-span-2 flex justify-center items-center"
    >
        <span class="lg:text-xl">Download CV</span>
    </a>
</section>

<script>
    let copy = document.getElementById("copy");
    copy?.addEventListener("click", () => {
        navigator.clipboard.writeText("jpira.dev@gmail.com");

        const messageCopy = document.getElementById("MessageCopy");
        messageCopy?.classList.remove("opacity-0");
        messageCopy?.classList.add("opacity-100");

        setTimeout(() => {
            messageCopy?.classList.remove("opacity-100");
            messageCopy?.classList.add("opacity-0");
        }, 1000);
    });
</script>
