---
import { Icon } from "astro-icon/components";

interface Props {
    name_logo: string;
    name_img: string;
    size: string;
}

const { name_logo, name_img, size } = Astro.props;
---

<div class="h-12 flex shadow-lg items-center justify-center">
    <!-- <Icon name={name_logo} class={"text-5xl"} /> -->
    <Icon name={name_logo} class={size} />
    <p class="text-slate-50 ml-2">{name_img}</p>
</div>
