---
import Logos from "./logos.astro";
import Image from "astro/components/Image.astro";
---

<article>
    <img src="" alt="" />
    <ul>
        <li>
            <Logos
                name_img="eva:github-fill"
                name_logo="Github"
                size="text-4xl"
            />
        </li>
        <li>
            <Logos
                name_img="mdi:linkedin"
                name_logo="Linkedin"
                size="text-4xl"
            />
        </li>
    </ul>
</article>
